- from mootdx.quotes import Quotes
    - client.bars
    - client.index

In [1]:
# from mootdx.quotes import Quotes

# client = Quotes.factory(market='std')
# client.quotes(symbol=["000001", "600300"])

,market,code,active1,price,last_close,open,high,low,servertime,reversed_bytes0,...,bid_vol5,ask_vol5,reversed_bytes4,reversed_bytes5,reversed_bytes6,reversed_bytes7,reversed_bytes8,reversed_bytes9,active2,volume
0,0,000001,4283,11.18,11.35,11.30,11.30,11.15,14:59:55.979,14998883,...,3309,1000,"(2774,)",0,0,0,0,0.09,4283,676577
1,1,600300,1316,3.01,3.03,3.03,3.04,3.00,15:00:00.000,15000000,...,610,4441,"(214,)",0,0,0,0,-0.32,1316,86769

In [13]:
# 查询股票列表
from mootdx.quotes import Quotes
from mootdx import consts

client = Quotes.factory(market='std')
symbol = client.stocks(market=consts.MARKET_SH)
# symbol['name'].to_list()
# symbol[symbol['name']=='中国国航']
symbol.head(20)

100%|██████████| 22/22 [00:00<00:00, 46.44it/s]

      code  volunit  decimal_point    name    pre_close
0   999999      100              2    上证指数  3197.901123
1   999998      100              2    Ａ股指数  3352.346924
2   999997      100              2    Ｂ股指数   268.579590
3   000001      100              2    上证指数  3197.901123
4   000002      100              2    Ａ股指数  3352.346924
5   000003      100              2    Ｂ股指数   268.579590
6   000004      100              2    工业指数  2919.263916
7   000005      100              2    商业指数  2542.863281
8   000006      100              2    地产指数  5591.369141
9   000007      100              2    公用指数  4516.177734
10  000008      100              2    综合指数  2662.999512
11  000009      100              2  上证380   5597.884277
12  000010      100              2  上证180   8166.424805
13  000011      100              2    基金指数  6519.049805
14  000012      100              2    国债指数   202.410202
15  000015      100              2    红利指数  2843.659668
16  000016      100              2  上证50    2519.078613
17  000017      100              2   新综指    2702.120117
18  000018      100              2  180金融   4339.208496
19  000019      100              2    治理指数  1028.026855

In [23]:
# 02. 获取k线数据
# start 指开始位置，也及时距离今天的交易天数

from mootdx.quotes import Quotes
client = Quotes.factory(market='std')
# client.bars(symbol='600036', frequency=9, offset=10)

# 前复权，最长800天
client.bars(symbol='600036', adjust='qfq', frequency=9, offset=2, start=2)

# # 后复权
# client.bars(symbol='600036', adjust='hfq')

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,volume,preclose,adj
2023-06-19 15:00:00,33.91,33.58,33.91,33.56,278960.0,9.398840e+08,2023,6,19,15,0,2023-06-19 15:00,278960.0,NaN,1.0
2023-06-20 15:00:00,33.50,33.19,33.56,33.10,307648.0,1.024392e+09,2023,6,20,15,0,2023-06-20 15:00,307648.0,33.58,1.0

In [21]:
# 05. 指数K线行情
# start 指开始位置，也及时距离今天的交易天数

from mootdx.quotes import Quotes
from mootdx.consts import MARKET_SH

client = Quotes.factory(market='std')
client.index(frequency=9, market=MARKET_SH, symbol='000001', start=2, offset=100)

,open,close,high,low,vol,amount,year,month,day,hour,minute,datetime,up_count,down_count,volume
datetime,,,,,,,,,,,,,,,
2023-01-30 15:00:00,3308.87,3269.32,3310.49,3266.76,3533258.0,4.531770e+11,2023,1,30,15,0,2023-01-30 15:00,1490,655,3533258.0
2023-01-31 15:00:00,3266.14,3255.67,3277.25,3252.01,3001629.0,3.752607e+11,2023,1,31,15,0,2023-01-31 15:00,1173,962,3001629.0
2023-02-01 15:00:00,3262.20,3284.92,3284.92,3245.41,3395094.0,4.133952e+11,2023,2,1,15,0,2023-02-01 15:00,1905,259,3395094.0
2023-02-02 15:00:00,3291.78,3285.67,3295.76,3272.41,3334131.0,4.286628e+11,2023,2,2,15,0,2023-02-02 15:00,1069,1055,3334131.0
2023-02-03 15:00:00,3275.66,3263.41,3275.66,3235.35,2933428.0,3.786485e+11,2023,2,3,15,0,2023-02-03 15:00,761,1380,2933428.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-16 15:00:00,3256.30,3273.33,3276.55,3255.50,3262818.0,4.443756e+11,2023,6,16,15,0,2023-06-16 15:00,1261,890,3262818.0
2023-06-19 15:00:00,3271.16,3255.81,3271.16,3251.78,3277530.0,4.552262e+11,2023,6,19,15,0,2023-06-19 15:00,845,1370,3277530.0
2023-06-20 15:00:00,3252.54,3240.36,3252.84,3237.79,2982606.0,4.332440e+11,2023,6,20,15,0,2023-06-20 15:00,658,1542,2982606.0
2023-06-21 15:00:00,3230.11,3197.90,3236.36,3197.90,2943773.0,4.062346e+11,2023,6,21,15,0,2023-06-21 15:00,376,1834,2943773.0
2023-06-26 15:00:00,3177.23,3150.62,3181.08,3144.25,3081298.0,3.988597e+11,2023,6,26,15,0,2023-06-26 15:00,446,1774,3081298.0